h1 {
    color: rgb(241, 210, 33);
  }

  body {
    margin: 30;
    padding: 30;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(45deg, rgb(255, 200, 47), rgba(238, 216, 94, 0.774));
    font-family: "Sansita Swashed", cursive;
  }
  .center {
    position: relative;
    padding: 50px 100px;
    background: #fff;
    border-radius: 50px;
  }
  .center h1 {
    font-size: 2em;
    border-left: 5px solid rgb(255, 251, 30);
    padding: 10px;
    color: #000;
    letter-spacing: 3px;
    margin-bottom: 20px;
    padding-left: 10px;
  }
  .center .inputbox {
    position: relative;
    width: 400px;
    height: 50px;
    margin-bottom: 40px;
  }
  .center .inputbox select {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
  }
  .center .inputbox:last-child {
    margin-bottom: 0;
  }
  .center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
  }
  .center .inputbox input:focus ~ span,
  .center .inputbox input:valid ~ span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
  }
  .center .inputbox [type="button"] {
    width: 100%;
    height: 80%;
    align-content: center;
    background: rgb(10, 10, 10);
    color: #fff;
    border: #fff;
  }
  .center .inputbox:hover [type="button"] {
    background: linear-gradient(45deg, rgb(248, 235, 47), rgb(233, 159, 47));
  }
  pre{
      color: black;
      size: 0vmax;
      font-style: initial;
  }
  
  .img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: #39D2B4;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}