<!--
T = request.form["Average_temperature"] 
TM = request.form["Maximum_temperature"]
Tm = request.form["Minimum_temperature"]
SLP = request.form["Atmospheric_pressure_at_sea_level"]
H = request.form["Average_humidity"]
VV = request.form["Average_visibility"]
V = request.form["Average_wind_speed"]
VM = request.form["Maximum_wind_speed"]
-->

<html>

<head>
    <link rel="stylesheet" href="..\static\home.css" />

</head>

<body>
<h2>DETECTION OF DEMENTIA USING AI: </h2>
<div class="container",class="form-group">

<h2>Welcome</h2>
<h3>Enter the Following parameters :</h3>

<form action="/dem_predict" method="POST">


<label for="visit">visit : </label>
<input type="number" id="visit" name="visit">
<br>

<label for="mr_delay">mr_delay : </label>
<input type="number" id="mr_delay" name="mr_delay">
<br>


<label for="Age">Age : </label>
<input type="number" id="Age" name="Age">
<br>

<label for="EDUC">EDUC : </label>
<input type="number" id="EDUC" name="EDUC">
<br>
<label for="SES">SES : </label>
<input type="text" id="SES" name="SES">
<br>

<label for="CDR">CDR : </label>
<input type="text" id="CDR" name="CDR">
<br>

<label for="eTIV">eTIV : </label>
<input type="number" id="eTIV" name="eTIV">
<br>

<label for="nWBV">nWBV : </label>
<input type="text" id="nWBV" name="nWBV">
<br>
<label for="ASF">ASF : </label>
<input type="text" id="ASF" name="ASF">
<br>
<label for="MMSE">MMSE : </label>
<input type="number" id="MMSE" name="MMSE">
<br>


<label for="Gender">Gender :</label>
<select name="Gender" id="Gender">
      <option value="0">MALE</option>
      <option value="1">FEMALE</option>
<br>

<input type="submit" value="Submit"><br><br>
</form>

</div>
</body>
</html>